html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #2E2E2E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Instrument Sans', Arial, sans-serif;
    font-weight: bold;
}

.woordle-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: 2px;
}

.woordle-green { color: #79B851; }
.woordle-yellow { color: #F3C237; }
.woordle-white { color: #f8f8f8; }

